body {
  top: 0;
  background-color: #ffffff;
  margin: 0px;
}

body::-webkit-scrollbar{
  display: none;
}

h1 {
  font-family: sans-serif;
  color: #0099ff;
  margin-bottom: -90px;
  margin-top: 35px;
  padding-left: 50px;
}

h2,
p,
ul,
li {
  font-family: sans-serif;
  color: #0099ff;
}

ul.header li {
  display: inline;
  list-style-type: none;
  margin: 0;
  padding: 0px;
}
ul.header {
  text-align: right;
  background-color: rgb(42, 41, 41);
  padding: 0;
}
ul.header li a {
  color: rgb(255, 255, 255);
  font-weight:bolder;
  text-decoration:none;
  padding: 50px;
  display: inline-flex
}


ul.header li a:hover {
  background-color: #63b7f0;
  
}
.content {
  background-color: #fff;
  margin-top: -16px;
  padding: 20px;
}
.content h2 {
  text-align: left;
  padding-top: 7%;
  padding-left: 5%;
}
.content li {
  margin-bottom: 10px;
}

.active {
  background-color: #0099ff;
}

div.twitter-feed {
  overflow-y: scroll;
  margin-top: 0%;
  float: right;
  padding-right: 5%;
}
.column::-webkit-scrollbar{
  display: none;
}

div.navbar {
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  object-fit: contain;
}

.row {
  display: flex;
}

@media screen and (max-width: 600px) {
  .column {
    width: 100%;
  }
}
